.App {
  text-align: center;
}

.title {
  font-size: 4vw;
  padding-top: 10px;
  color: white;
}

.App-header {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url('~/public/Images/fitness-banner.jpg');
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-nav {
border-bottom: 1px solid black;
}



